* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --main-color:#0061ff;
  --hero-bg: #b4d0e7;
  --footer-bg: #000000;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family:"Open Sans", sans-serif;
}

img {
  max-width:100%;
}

/* Debug  */
.debug {
  background-color: rgba(172, 255, 47, 0.2);
}

main {
  padding-top:80px; 
}

footer {
  display: none;
}
 
/* Utility  */
.w-100 {
  width:100%;
}

.big-container {
  width:1180px;
  margin:0 auto;
}

.container {
  width:1000px;
  margin:0 auto
}

.d_flex {
  display:flex;
}

.col2-60_40 > *:first-child {
  width: 63%;
}

.col2-60_40 > *:last-child {
  width: 37%;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  background-color: var(--main-color);
  color:white;
  text-decoration: none;
  text-align: center;
  cursor:pointer;
}

.btn:hover {
  opacity:0.5;
}

.card ul {
  list-style: none;
}

.section_title h2,
.section_footer h2 {
  font-size:2.4rem;
  font-weight: 700;
}

/* Header */
.header_bar {
  position:fixed;
  background-color: white;
  justify-content: space-between;
  align-items:center;
  height:80px;
  width:100%;
  z-index:999;
}

.header_bar > * {
  width:50%;
  align-items: center;
  height:100%;
}

.header_bar .logo {
  width:130px;
  height:22px;
  margin-right:10px;
}

.header_bar ul {
  list-style: none;
  height:100%;
}

.header_bar ul li {
  position: relative;
  margin:0 15px;
  font-size:1.1rem;
  font-weight: 600;
  height:100%;
}

.header_bar ul li a {
  display:flex;
  position: relative;
  height:100%;
  align-items: center;
}

.header_bar ul li::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.header_bar ul li:hover::after {
  width:100%;
  cursor: pointer;
}

.header_bar a {
  text-decoration: none;
  color:black;
}

.start a {
  cursor:pointer;
  color: white;
}

.left_header > .logo{
  padding-left:20px;
  cursor: pointer;
}

.right_header{
  justify-content: flex-end;
  align-items: center;
  padding-right:20px;
}


/* Main Content  */

/* Hero Section  */
section.hero {
  background-color: var(--hero-bg);
  position:relative;
}

.hero.big-container {
  position: relative;
  height:740px;
}

.hero-box {
  position:absolute;
  top:40px;
}

.hero.title h1{
  font-size:4.5rem;
  font-weight:900;
  margin:50px auto;
}

.hero.content {
  width:100%;
}

.hero.content.left {
  flex-direction: column;
  width:45%;
  font-weight:600;
}

.hero.content.left > * {
  margin-bottom: 35px;
}

.hero.content.left .btn {
  max-width: 225px;
  padding:10px;
}

.hero .fas {
  position:absolute;
  bottom:68px;
  color:black;
  font-size:4rem
}

/* Price Table Section  */
.price_table.container {
  padding:165px 0;
}

.price_table .billing {
  padding: 50px 0;
  display:flex;
  gap:40px;
}

.price_table .billing input{
  margin-right:10px;
}

.billing label {
  display:flex;
  align-items: center;
  cursor:pointer;
}

.tablegrid-33 .row {
  justify-content: space-between;
  gap:50px;
}

.tablegrid-33 .card {
  width:33.33%;
  border:1px solid #d0d0d3;
}

.tablegrid-33 .card_header,
.tablegrid_single .card_header {
  text-align: center;
  border-bottom: 1px solid #d0d0d3;
  padding:10px;
}

.card_content {
  padding:40px 30px;
}

.card_content h3 {
  padding-bottom:25px;
  font-weight:800;
  font-size:1.6rem;
}

.card_content .price {
  font-weight: 700;
}

.card_content .count {
  display:block;
  padding: 20px 0;
}

.card_content ul li {
  padding:12px 0;
  font-size: .9rem; 
}

.card_content ul {
  position:relative;
  padding-left: 20px;
}

.card_content .features li.user::before {
  position:absolute;
  left:-3px;
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  content:"\f007";
}

.card_content .features li.folder::before {
  position:absolute;
  left:-3px;
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  content:"\f07b";
}

.card_content .features li.share::before {
  position:absolute;
  left:-3px;
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  content:"\f1e0";
}

.card_content > a {
  margin:35px 0;
  width:100%;
}

.card_content hr {
  margin:55px 0;
  width:20%;
  color:darkgrey
}

.card_content h4 {
  padding-bottom:25px;
}

.card_content .checklist li::before {
  position:absolute;
  left:-3px;
  color:var(--main-color);
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  content:"\f00c";
  transform:translateY(2px)
}

.tablegrid_single {
  padding-top:55px;
}

.tablegrid_single .card {
  border:1px solid #d0d0d3;
}

.tablegrid_single .card_content .card_text {
  width:66.6%
}

.tablegrid_single .card_content .card_action {
  width:33.3%;
  justify-content: flex-end;
  align-items:start;
}

.tablegrid_single .card_content p {
  padding-top:60px;
}

/* Partner Section  */
.partner_section {
  padding-bottom:160px;
}


.partner_section .textbox {
  padding:60px 50px;
}

.partner_section .textbox h4 {
  font-size:1.5rem;
}

.partner_section .textbox p {
  padding:25px 0;
}

.partner_section .textbox .btn {
  background-color: white;
  color:black;
  border:1px solid black;
}

/* Feature Section  */
.feature_section .grid_features .row {
  flex-wrap: wrap;
  padding:50px 0;
  gap:50px;
}

.feature_section .grid_features .row .card {
  width:calc(100% / 3 - 50px); 
}

.feature_section .grid_features .row .card h4 {
  font-size: 1.3rem;
  padding-bottom:20px;
}

.feature_section .section_footer {
  width:60%;
  padding:70px 0;
}